.home {
    background-color: #00b894;
    background-image: url(../../../images/wooden_table.jpg);
    background-position: center center;
    background-size: cover;
    position: relative;
    top: -100px;
    height: 200vh;
}
