.home {
    background-image: url(../../../images/wooden_table.jpg);
    background-size:     cover;                      /* <------ */
    background-color: gray;
}


.home__pizza-container{
    position: relative;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(11, 1fr);
    justify-items: stretch;
}

.home__wooden-table, .home__pizza--pizza, .home__pizza--slice{
    grid-row-start:4;
    grid-row-end: 6;
    grid-column-start: 5;
    grid-column-end: 8;
    position: relative;
    width: 100%;
    height: auto;
    max-height: 70vh;
    max-width: 100%;
}


.home__pizza--animation {
    animation-name: pizza-startup;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.home__wooden-table {
    left: 2%;
    transform: scale(1.1);
}

.home__pizza--pizza, .home__pizza--slice{
    top: 5px;
}

.home__pizza--slice--1 {
    left: -4%;
}

.home__pizza--slice--2 {
    left: -4%;
}

.slice-animation {
    animation: pizza-startup 1s 0s 1, slice-startup 1s 1s forwards;
}

.slice-animation--delay {
    animation: pizza-startup 1s 0s 1, slice-startup 1s 1.4s forwards;
}

@media only screen and (max-width: 1000px) {
    .home__pizza-container{
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: repeat(9, 1fr);
    }

    .home__wooden-table, .home__pizza--pizza, .home__pizza--slice{
        grid-row-start:2;
        grid-row-end: 3;
        grid-column-start: 3;
        grid-column-end: 8;
    }
}

@keyframes pizza-startup{
    0% {
        opacity: 0;
        transform: translate(-500px);
    }

    30% {
        opacity: 1;
        
    }
    

    80%{
        transform: translate(0);
    }

    100% {
        opacity: 1;
    } 
}  

@keyframes slice-startup{
    0% {
        opacity: 1;
    }

    90%{
        opacity: .4; 
        opacity: .8;
        transform: translate(-100px);
    }
    100% {
        opacity: 0; 
        transform: translate(-500px);
    } 
}
